@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
    padding: 0;
    margin: 0;
  }

  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  body {
    @apply text-foreground;
    background-color: white;
    color: black;
  }

  .btn,
  .btn-sm {
    @apply inline-flex items-center justify-center whitespace-nowrap rounded-lg text-sm font-medium transition-all;
  }

  .btn {
    @apply px-4 py-[11px] shadow-lg;
  }

  .btn-sm {
    @apply px-3 py-[5px] shadow;
  }

  h1 {
    @apply text-primary-marineBlue font-bold text-3xl;
  }

  span.stepActive {
    @apply bg-primary-lightBlue text-primary-marineBlue border-primary-lightBlue;
  }

  button.primary {
    @apply px-[26px] py-4 bg-primary-marineBlue font-semibold text-white rounded-lg capitalize text-sm;
  }

  button.primary:disabled {
    @apply bg-primary-marineBlue;
  }

  button.primary:disabled:hover {
    @apply bg-primary-marineBlue;
  }

  button.primary:hover {
    @apply bg-primary-marineBlue bg-opacity-90;
  }

  button.secondary:hover {
    @apply text-primary-marineBlue;
  }

  input.default {
    @apply outline-1 outline outline-neutral-coolGray w-full rounded-lg text-primary-marineBlue font-semibold px-4 py-[14px];
  }

  input.default:focus {
    @apply outline-1 outline outline-primary-marineBlue;
  }

  input.default::placeholder {
    @apply font-normal;
  }

  label.default {
    @apply text-primary-marineBlue text-[15px];
  }

  .addon-checkbox {
    @apply accent-primary-purplishBlue w-5 h-5 rounded-lg overflow-hidden;
  }
}

.gradient {
  background-image: conic-gradient(
    rgb(157, 23, 77),
    rgb(107, 33, 168),
    rgb(55, 48, 163)
  );
}

@layer utilities {
  .min-h-screen {
    min-height: 100vh; /* Fallback */
    min-height: 100dvh;
  }
  .h-screen {
    height: 100vh; /* Fallback */
    height: 100dvh;
  }
}
